@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Latter-Day Movies!</h1>
<p>
    It can be hard to find a good source of fun, clean entertainment for you and your family,
    but look no further than here to get some fresh entertainment with stories that help build faith
    and protect you from sour content.
    Browser our movie selection @Html.ActionLink("here", "Index", "Movies") or send us an email. We would love to hear from you 
    with great ideas for more entertainment!
</p>